<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Waiter Earnings Calculator</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body ng-app="waitCalculator">
  <div class="container" ng-controller="waitCtrl">
  <div class="header">Waitstaff Calculator</div>
  <div id="calculator" class="header-box">
    <div class="box-header">Enter the Meal Details</div>
    <div class="content">
      <form 
          name="mealForm"
          ng-submit="pay(mealForm.$valid)"
          novalidate>
        <div class="noborder">
          <div class="label">Base Meal Price: $</div>
          <input ng-model="base" ng-class="{ 'invalid': myParseFloat(base) === false }" required>
        </div>
        <div class="noborder">
          <div class="label">Tax Rate: %</div>
          <input ng-model="tax_percent" ng-class="{ 'invalid': myParseFloat(tax_percent) === false }" required>
        </div>
        <div class="noborder">
          <div class="label">Tip Percentage: %</div>
          <input ng-model="tip_percent" ng-class="{ 'invalid': myParseFloat(tip_percent) === false }" required>
        </div>
        <div class="noborder" id="button-holder">
          <button ng-click="resetTwo()">Cancel</button>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div id="charges" class="header-box">
    <div class="box-header">Customer Charges</div>
      <div class="content">
        <div class="noborder">
          <div class="label">Subtotal: </div><div class="data">{{subtotal | currency}}</div>
        </div>
        <div class="noborder">
          <div class="label">Tip: </div><div class="data">{{tip | currency}}</div>
        </div>
        <div class="noborder">
          <div class="label">Total: </div><div class="data">{{total_meal | currency}}</div>
        </div>
      </div>
  </div>
  <div id="earnings" class="header-box">
    <div class="box-header">My Earnings Info</div>
      <div class="content">
        <div class="noborder">
          <div class="label">Tip Total: </div><div class="data">{{total_tip | currency}}</div>
        </div>
        <div class="noborder">
          <div class="label">Meal Count: </div><div class="data">{{meal_count}}</div>
        </div>
        <div class="noborder">
          <div class="label">Average Tip Per Meal: </div><div class="data">{{avg_tip | currency}}</div>
        </div>
      </div>
  </div>
  <button id="reset" ng-click="resetAll()">Reset</button>
  </div>
</body>
</html>
