html, body {
  font-family: Lucida, Tahoma, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

input {
  width: 5em;
  float: right;
  border: 1px solid black;
  padding: 2px;
  margin-right: 20%;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
  padding: 0;
  margin: 0;
}

.noborder {
  border: none;
  padding: .3em;
  width: 100%;
}

.container {
  border: none;
  height: 100%;
}

.header {
  height: 10%;
  max-width: 90%;
  margin: 2% auto;
  text-align: center;
  font-size: 200%;
  border: none;
}

.header-box {
  width: 40%;
  height: 30%;
  margin: 2% 5%;
}

.box-header {
  height: 2em;
  border-bottom: 4px solid black;
  text-align: center;
  font-size: 120%;
  z-index: 1;
  padding-top: 4px;
}

.content {
  height: 100%;
  margin-top: -2.4em;
  padding: 2.4em 4px 4px 4px;
}

#calculator {
  float: left;
  height: 64%;
  width: 50%;
}

#charges, #earnings {
  float: right;
  width: 30%;
}

#reset {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 120%;
  padding: 5px 10px;
}

.invalid {
  border: 1px solid red;
}

.data, .label {
  display: inline-block;
  text-align: right;
  border: none;
  width: 50%;
}

.data {
  width: 20%;
  min-width: 5em;
}
