<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Waiter Earnings Calculator</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body ng-app="waitCalculator">
  <div class="container" ng-controller="waitCtrl">
  <div class="header">Waitstaff Calculator</div>
  <div id="calculator" class="header-box">
    <div class="box-header">Calc header</div>
    <div class="content">
      <form 
          name="mealForm"
          ng-submit="pay(mealForm.$valid)"
          novalidate>
        <div class="noborder">
          Base Meal Price: $
          <input ng-model="base" required>
        </div>
        <div class="noborder">
          Tax Rate: %
          <input ng-model="tax_percent" required>
        </div>
        <div class="noborder">
          Tip Percentage: %
          <input ng-model="tip_percent" required>
        </div>
        <div class="noborder"><input value="Submit" type="submit"></div>
      </form>
    </div>
  </div>
  <div id="charges" class="header-box">
    <div class="box-header">Charges header</div>
    <div class="content">
      <div class="noborder">Subtotal: {{subtotal | currency}}</div>
      <div class="noborder">Tip: {{tip | currency}}</div>
      <div class="noborder">Total: {{total_meal | currency}}</div>
    </div>
  </div>
  <div id="earnings" class="header-box">
    <div class="box-header">Earnings header</div>
    <div class="content">Earnings body</div>
  </div>
  </div>
</body>
</html>
